- content_for :title, "About PPAFI | Dual AgriTech™"

= render "site/about_ppafi/header"
= render "site/about_ppafi/vision_mission"
= render "site/about_ppafi/core_values"
= render "site/about_ppafi/history"
= render "site/about_ppafi/people"
= render "site/about_ppafi/cta"
