= render "site/home/hero"
= render "site/home/subgroups"
= render "site/home/model"
= render "site/home/growth_drivers"
= render "site/home/about"
= render "site/home/services"
= render "site/home/cta"
= render "site/home/testimonials"
